<!DOCTYPE html> 
<html>     
    <body>
        <style>
            table{
            width:100%;
            }
            table td{
                white-space: nowrap;  /** added **/
            }
            table td:last-child{
                width:100%;
            }
        </style>
        <table border="1" cellpadding="2" cellspacing="2" style="border-collapse:collapse;">
            {% for i, j, k in data %}
                <tr>
                    <td> <b> {{ i }} </b></td>
                    <td> {{ j }} </td>
                    <td> {{ k }} </td>
                </tr>
            {% endfor %}
        </table>         
    </body> 
</html>